/* navbar */
#navbar{
    /*border: 1px solid black;*/
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navbar .homeLink{
    margin-left: 1%;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.navigator{
    margin-right: 1%;
}

.navigator ul{
    list-style: none;
    margin-top: 3%;
}

.navigator ul li{
    display: inline-block;
}

.navigator ul li button{
    background: transparent;
    color: white;
    border: none;
}

.navigator ul li button i{
    font-size: 1.5rem;
}

.navigator input{
    border: none;
    font-size: 1.25rem;
    border-radius: 15px;
    text-indent: 10px;
}

.navigator #search_btn{
    font-size: 1rem;
    padding: 3px;
    border-radius: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.settings{
    position: relative;
    display: inline-block;
}

.settings_btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.settings_opt{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.settings_opt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.settings_opt a:hover {background-color: #ddd;}

.settings:hover .settings_opt {display: block;}

.search_results{
    border: 1px solid black;
    border-radius: 15px 15px 0 0;
    margin: 3% 30%;
    width: auto;
    height: auto;
}

.head_box{
    height: 3rem;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.head_box h3{
    color: white;
    vertical-align: text-top;
}

#table_id_wrapper{
    margin-top: 5%;
}

.deactivate{
    color: red;
}

.activate{
    color: green;
}

/* Additional CSS */
/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(253 251 251);
}

.success{
    margin-top: 2%;
    font-size: 1rem;
    text-align: center;
    color: green;
}

.error{
    margin-top: 2%;
    font-size: 1rem;
    text-align: center;
    color: red;
}